{% extends 'base.html' %}


{% block content %}

    {% load static %}

    
    <div class="loginwelcome">
<h1>Welcome to PokeDex </h1>
</div>




    
<div class="loginlayout">
    <div class="pokeimage">
        <img src="{% static 'pokeball.png'%} "  alt="PokeBall" >

    </div>




    <div class="login">
        <h1>Login</h1>
        <form action="/getlogin" method="POST">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="loginemail" name="email" placeholder="Enter email" required>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="loginpassword" name="password" placeholder="Password" required>

            </div>
                <div class="buttonlink">
        
            <a href="/reg" class="reg">Sign up </a> 
            <button type="button" class="btn btn-primary" id="loginbutton">Login</button>
            </div>
        
        
        </form>
    
    </div>






</div> <!-- Main Layout div -->

<div class="loginbanner">
    <p>Placeholder for testing</p>
    <ul>
       
        <li><a href="/login">login</a></li>
        <li><a href="/reg">reg</a></li>
        <li><a href="/dashboard">dashboard</a></li>
        <li><a href="/profile">profile</a></li>

</ul>
    </div>


{% endblock content %}
    